@font-face {
    font-family: "Japanese";   /*Can be any text*/
    src: local("Japanese3017"),
      url("../font/Japanese3017-Eljn.ttf") format("truetype");
  }

.footer__title{
    margin-right: 10px;
    font-family: "Japanese";
}

.footer__{
  color: white;
}